* {
  --primary-color: hsl(25, 97%, 53%);
  --secundary-light: hsl(217, 12%, 63%);
  --secundary-medium: hsl(216, 12%, 54%);
  --secundary-dark: hsl(213, 19%, 18%);
  --secundary-very-dark: hsl(216, 12%, 8%);

  box-sizing: border-box;
  font-size: 15px;
  font-weight: initial;
  font-style: normal;
}

body {
  text-align: center;
  padding-block-start: 10%;
  /* display: flex;
  justify-content: center;
  align-content: center; */
  background-color: black;
  margin-inline: 0;
  margin-block: 0;
  block-size: 100vh;
 }

main {

  display: inline-flex;
  flex-direction: column;
  background-color: var(--secundary-very-dark);
  align-self: center;
  width: clamp(375px, 100%, 375px);
  color: white;
  border-radius: 23px;
  padding-inline: 2.1rem;
  padding-block:2.1rem ;
}

aside[class="favorite-icon"] {
  display: block;
  background-color: var(--secundary-dark);
  width: fit-content;
  padding-inline: 5px;
  padding-block: 5px;
  border-radius: 100%;
  margin-block-end: 20px;
}

h1 {
  font-size: 1.3rem;
}

main > p {
  color: var(--secundary-light);
  line-height: 1.5em;
}

ol {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding-inline: 0px;
  padding-block: 0px;
}
li {
  display: inline-block;
  background-color: var(--secundary-dark);
  inline-size: 3rem;
  block-size: 3.1rem;
  border-radius: 100%;
  font-size: 1.2rem;
  text-align: center;
  padding-inline-start: 10px;
  cursor: pointer;
}
li:hover {
  background-color: var(--primary-color);
  outline-style: none;
}

button {
  display: block;
  background-color: var(--primary-color);
  border: none;
  padding-inline: 8px;
  padding-block:8px;
  border-radius: 15px;
  inline-size: 100%;
}

button:hover {
  cursor: pointer;
  background-color: white;
}

footer {
  position: absolute;
  inset-block-end: 0;

}

footer p {
  padding-block: 0;
}
